<div class="post <%= 'liked' if post.liked -%> <%= 'self' if post.user == current_user-%>" id="post-<%= post.id %>">
  <div class="post-body">
    <%= simple_format(post.body) %>
  </div>
  <div class="post-info">
    <div class="post-info-author">by <%= link_to post.user.name, user_posts_path(post.user) %></div>
    <div class="post-info-time"><%= time_ago_in_words(post.created_at) %> ago</div>
  </div>
  <div class="post-actions">
    <div class="post-actions-dislike">
      <%= link_to post_post_likes_path(post), method: :delete, remote: true do %>
        <%= icon('heart') %>
      <% end %>
    </div>
    <div class="post-actions-like">
      <%= link_to post_post_likes_path(post), method: :post, remote: true do %>
        <%= icon('heart-o') %>
      <% end %>
    </div>
    <% if post.can_edit?(current_user) %>
      <div class="post-actions-edit">
        <%= link_to edit_post_path(post) do %>
          <%= icon('pencil') %>
        <% end %>
      </div>
    <% end %>
    <% if post.can_destroy?(current_user) %>
      <div class="post-actions-delete">
        <%= link_to post_path(post), method: :delete, data: { confirm: 'Are you sure?' }, remote: true do %>
          <%= icon('trash-o') %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>