<div class="post">
  <div class="post-body">
    <%= simple_format(post.body) %>
  </div>
  <div class="post-info">
    <div class="post-info-author"><%= (@user.presence || post.user).name %></div>
    <div class="post-info-time"><%= time_ago_in_words(post.created_at) %> ago</div>
  </div>
  <div class="post-actions">
    <% if post.liked_by?(current_user) %>
      <%= link_to dislike_post_path(post), method: :delete do %>dislike
      <% end %>
    <% else %>
      <%= link_to like_post_path(post), method: :post do %>like
      <% end %>
    <% end %>
    <% if post.can_edit?(current_user) %>
      <%= link_to edit_post_path(post) do %>edit
      <% end %>
    <% end %>
    <% if post.can_destroy?(current_user) %>
      <%= link_to post_path(post), method: :delete, data: { confirm: 'Are you sure?' } do %>delete
      <% end %>
    <% end %>
  </div>
</div>